/* Home.css */
.greetings{
    padding-top: 100px;
    padding-left: 30px;
    color: #333;
    font-size: 28px;
    box-sizing: border-box;
}

.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: auto; /* Mudar de 100vh para auto pode ajudar se o conteúdo estiver sendo cortado */
    overflow: visible;
    gap: 30px; /* Mantém o gap entre os containers */
    padding: 0px 30px; /* Aplica padding apenas horizontalmente */
    box-sizing: border-box;
}
  
.left-container, .right-container {
    flex: 1; /* Ambos os containers ocupam espaço igual */
    border: white;
    border-radius: 8px;
    background-color: #333;
    color: white;
    font-size: 24px;
    box-sizing: border-box;
}     
  
.left-container {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
}
  
.right-container {
    /* Estilos adicionais para o container direito se necessário */
    padding: 30px;
    display: flex;
    justify-content: center; /* Centraliza a imagem horizontalmente */
    align-items: center; /* Centraliza a imagem verticalmente */
}
  
.right-container img {
    max-width: 100%; /* Garante que a imagem não exceda o container */
    height: auto; /* Mantém a proporção da imagem */
}

.schedule-table th, .schedule-table td {
    border: 1px solid #ddd;
    padding: 5px; /* Reduz o padding se necessário */
    text-align: center;
    font-size: 14px; /* Diminui o tamanho da fonte */
    min-width: 90px; /* Ou ajuste conforme necessário */
  }
  
  .schedule-table th {
    background-color: #4CAF50;
    color: white;
    font-size: 14px; /* Um pouco maior para os cabeçalhos */
  }
  
  .schedule-table th {
    background-color: #4CAF50;
    color: white;
  }

  .schedule-table td:hover {
    background-color: #e0e0e0; /* Cor de fundo ao passar o mouse */
  }

  .schedule-table td {
    cursor: pointer; /* Indica que o item é clicável */
  }
  
  .content {
    display: flex;
  }
  
  .left-container, .right-container {
    padding: 10px;
  }
  
  .right-container {
    overflow-x: auto; /* Adiciona rolagem horizontal se necessário */
  }
  