/* Propinas.css */
.title{
    padding-top: 100px;
    color: #333;
    font-size: 38px;
    box-sizing: border-box;
    justify-content: center;
    width: 100%;
    display: flex;
}

.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: auto; /* Mudar de 100vh para auto pode ajudar se o conteúdo estiver sendo cortado */
    overflow: visible;
    gap: 30px; /* Mantém o gap entre os containers */
    padding: 0px 30px; /* Aplica padding apenas horizontalmente */
    box-sizing: border-box;
}

.left-container, .right-container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Alinha os itens ao centro horizontalmente */
    justify-content: center; /* Centraliza verticalmente caso haja espaço */
    padding: 20px;
    box-sizing: border-box;
    width: 100%;
}

.blanc {
    color: #333;
}

.left-container h2, .right-container h2{
    justify-content: center;
    display: flex;
    padding-bottom: 20px;
}

.left-container ul, .right-container ul{
    flex-direction: column;
    width: 100%; /* Ocupa toda a largura do container */
}

.left-container li, .right-container li {
    width: 100%; /* Ocupa toda a largura do UL */
    flex-direction: column; /* Adiciona isso se você quer os itens listados verticalmente */
    padding-bottom: 30px;
}

.left-container button, .right-container button{
    margin-left: auto; /* Empurra o botão para a direita */
    background-color: white;
    color: #333;
    border: 1px solid white;
    padding: 0px 10px;
    border-radius: 8px;
    font-size: 20px;
    cursor: pointer;
    align-self: center;
}

.left-container button:hover, .right-container button:hover{
    background-color: #eeeeee;
}

.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #434343;
    border: 1px solid white;
    padding: 20px;
    z-index: 100;
}

.popup button {
    margin-left: auto; /* Empurra o botão para a direita */
    background-color: #333;
    color: white;
    border: 1px solid white;
    padding: 5px 10px;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    align-self: center;
}