/* Propinas.css */
.propinas-container {
    text-align: center;
    margin-bottom: 20px;
}

.title-sort-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    width: 80%;
    margin: 0 auto;
}

.propinas-title {
    font-size: 36px;
    flex: 1;
    text-align: center;
}

.sort-button {
    margin-left: auto;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

.sort-button:hover {
    background-color: #45a049;
}

.fees-container {
    display: flex;
    justify-content: center;
    margin: 20px auto;
    width: 80%;
}

.fees-list {
    list-style-type: none;
    padding: 0;
    width: 100%;
}

.fee-item {
    background-color: #333;
    color: white;
    margin: 10px 0;
    padding: 15px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fee-item.paid {
    border-left: 5px solid green;
}

.fee-item.unpaid {
    border-left: 5px solid red;
}

.fee-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.fee-info span {
    flex: 1;
}

.fee-info button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
    margin-left: 10px;
}

.fee-info button:hover {
    background-color: #45a049;
}

.popup {
    background-color: white;
    color: black;
    padding: 15px;
    border-radius: 8px;
    margin-top: 10px;
    width: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.popup img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto 10px auto;
}

.popup button {
    display: block;
    margin: 10px auto;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

.popup button:hover {
    background-color: #45a049;
}
