.centered-message {
    display: flex;
    align-items: center; /* Alinha verticalmente */
    justify-content: center; /* Alinha horizontalmente */
    height: 100vh; /* Utiliza a altura total da viewport */
    font-size: 24px; /* Tamanho da fonte */
    text-align: center;
    padding: 20px; /* Adiciona um pouco de padding para que o texto não chegue nas bordas */
    box-sizing: border-box; /* Garante que o padding não adicione à largura e altura especificadas */
  }

  body {
    font-family: 'Roboto', sans-serif;
  }